.landing-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .d-sm {
    display: none;
    @include sm {
      display: flex;
    }
  }

  .d-lg {
    display: flex;
    @include sm {
      display: none;
    }
  }

  .loading-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
    .loading-img {
      width: 50%;
      animation: leaves 0.75s infinite alternate;
    }
    .loading-text {
      text-align: center;
      color: #2d2d30;
      font-size: 28px;
      position: absolute;
      bottom: 70px;
      font-weight: 600;
      @include sm {
        font-size: 25px;
      }
    }
    .powered-by {
      position: absolute;
      bottom: 70px;
      @include sm {
        width: 50%;
      }
    }
  }
  .landing-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -160px;
    @include sm {
      margin-bottom: 0;
    }
  }

  .landing-full-logo {
    max-height: 200px;
    max-width: 60vw;
    margin-bottom: 80px;
    @include hover-zoom(1.05);
    @include sm {
      display: none;
    }
  }
  .landing-mobile-icon {
    width: 60%;
    object-fit: contain;
    display: none;
    @include sm {
      display: block;
    }
  }
  .landing-mobile-logo {
    display: none;
    width: 90%;
    margin: 50px 0;
    @include sm {
      display: block;
    }
  }

  .index-funds-button {
    border-top: 1px solid $border-color;
    justify-content: center;
    align-items: center;
    height: 74px;
    display: none;
    @include sm {
      display: flex;
    }
    .funds-icon {
      height: 30px;
    }
  }

  .action-container {
    display: flex;
    justify-content: center;
    @include sm {
      width: 90%;
    }
    .action-button {
      margin-right: 20px;
      border: 1px solid #2d2d30;
      font-weight: 700;
      &:last-child {
        margin-right: 0;
      }
      &.primary {
        background: #cf1a38;
        border-color: #cf1a38;
        color: white;
      }
      @include sm {
        font-size: 0.9rem;
        flex: 1;
        height: 50px;
        margin: 0;
        &:first-child {
          margin-right: 10px;
        }
      }
      &.investor-btn {
        @include sm {
          display: none;
        }
      }
    }
  }
  .investor-relation-btn {
    margin-top: auto;
    display: none;
    border-top: 1px solid $border-color;
    height: 70px;
    align-items: center;
    justify-content: center;
    @include sm {
      display: flex;
    }
    img {
      width: 26px;
      height: 26px;
    }
    span {
      font-weight: 700;
      margin-left: 10px;
      font-size: 1.2rem;
    }
  }
}

.app-details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  .landing-full-logo {
    max-height: 80px;
    width: 100%;
    object-fit: contain;
  }
  .app-desc {
    text-align: center;
    color: #182443;
    line-height: 30px;
    margin: 40px 0;
    font-size: 14px;
  }
  .no-of-brands {
    font-weight: 700;
    text-align: center;
    padding: 12px 50px;
    color: white;
    @include hover-zoom(1.1);
  }
}
